body{
    background-color:#3d405b;

    font-family: Arial, Helvetica, sans-serif;

    margin:0;
}

section{

}


nav{
    background-color:#81B29A;
    display:flex;
}

.Links{
    display:flex;
}
.content{
    margin-left:5%;
    margin-right:5%;
    color:#F4F1DE;

}
.main{
    color:#F4F1DE;
}

.card{
    width:90%;
    margin:auto;
}

.HeroSection h1{
    color:black;
}